* {
    box-sizing: content-box;
}

html {
    scroll-behavior: smooth;
    font-size: 20px;
}

header {
    display: flex;
    justify-content: flex-end;

    nav {
        margin-right: 1rem;

        a {
            display: inline-block;
            text-decoration: none;
            margin-top: 1rem;
            padding-right: 0.4rem;
            color: black;
        }
    }
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1 {
        font-size: 3rem;
        font-weight: bold;
        text-align: center;

    }
}