* {
    box-sizing: content-box;
}

html {
    scroll-behavior: smooth;
    font-size: 20px;
}

nav {
    display: inline-block;
    margin: 0.25rem;
}

.nav-link {
    display: flex;
    justify-content: flex-end;
    
    a {
        padding: 0.25rem;
        text-decoration: none;
        
    }
}